お世話になっております。
株式会社LIM営業チームです。

エターナルフォースのアカウントが発行されました。
一度ログインをして正しく動くか確認をお願いします。

<div class="form-group">
<label>ログインID</label>
<%= @customer.LoginId%>
</div>

<div class="form-group">
<label>パスワード</label>
<%= @customer.PassWord%>
</div>

今後とも宜しくお願いします。

不具合がある場合、お手数ですがこちらのメールアドレスまで
お願いします。
