<p>いつもお世話になっております。</p>

<p>
  株式会社LIM営業チームです。
  エターナルフォースの新規アカウントの発行ありがとうございました。
  今後とも宜しくお願いします。
</p>

<p>
  発行されたアカウント
</p>

<div>
  ログイン_ID: <%= @customer.LoginId %>
  パスワード: <%= @customer.PassWord %>
</div>
