// Place all the styles related to the instagramTools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_form{
  margin: 5% 20% 5% 20%;
  background-color: #f0f0f1;
  border-radius: 10px;
}
.new_title{
  text-align: center;
}
.instagram_tool_table{
  margin: 3% 10% 3% 10%;
}
.title_and_form{
  text-align: center;
}
